<h1>Tasks#new</h1>
<p>Find me in app/views/tasks/new.html.erb</p>
<h1>画像投稿フォーム</h1>
<%= form_with model: @task, local:true do |f| %>

  <h4>ショップ名</h4>
  <%= f.text_field :title %>
  <h4>説明</h4>
  <%= f.text_area :body %>
  <%= f.submit '投稿' %>
<% end %>